.tasks-wrapper{
    height: calc(100vh - 250px);
    width: 80%;
}

.task-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.task-form-card{
    flex: 0 1 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}